@import "variables";

@font-face {
    font-family: mikhka;
    src: url("../fonts/mikhak/Mikhak-VF-FD[wght\,KSHD\,DSTY].woff2");
}

body {
    font-family: mikhak;
}

.link-custom-1 {
    color: white;
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
        color: $main-color;
    }
}

.show {
    bottom: 0 !important;
}

.bg-main {
    background-color: $main-color;
}

.bg-sec {
    background-color: $sec-color;
}

.bg-suc {
    background-color: $suc-color;
}

.bg-info {
    background-color: $info-color;
}

#header {
    background-color: #000000c0;
    height: 90vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    font-size: .8rem;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url("../images/p1.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .fixed-top-header-section {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        .dark {
            background-color: $dark-color;
        }

        .darker {
            background-color: $darker-color;

            i {
                font-size: 2rem;
            }
        }



    }

    .fixed-bottom-header-section {
        z-index: 10;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $darker-color;

        #small_screen_nav_toggler {
            cursor: pointer;
        }

        li {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: -10px;
                width: 0;
                height: 2px;
                background-color: $main-color;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -webkit-transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -moz-transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -ms-transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -o-transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }




            &:hover::before {
                width: 100%;
            }

            #navbar_brand {
                img {
                    cursor: pointer;
                }
            }

        }

    }

    #small_screen_navbar {
        height: 230px;
        right: 0;
        left: 0;
        bottom: -230px;
        background-color: $dark-color;
        transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -webkit-transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -moz-transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -ms-transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -o-transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    #animated_text {
        h1 {
            position: absolute;
            top: 33%;
            color: $main-color;
        }

        height: 100%;

    }
}
.border-start-custom {
    border-right: 3px solid $main-color;
    padding-right: 1rem;
}
#what_we_do_section {
    overflow-x: hidden !important;
    .work-card::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        top: 0;
        left: 0;
        background-color: white;
    }
}
#our_services_section
{
    position: relative;
    background-color: rgba(0, 0, 0, 0.671);
    margin: 3rem 0;
    padding: 2rem 1rem;
    overflow-x: hidden !important;
    &::before
    {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/coverservice.png");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;  
    }
    .nav-link
    {
        color: $sec-color !important;
    }
}
