@import "variables";

@font-face {
    font-family: mikhka;
    src: url("../fonts/mikhak/Mikhak-VF-FD[wght\,KSHD\,DSTY].woff2");
}

body {
    font-family: mikhak;
}

.link-custom-1 {
    color: white;
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
        color: $main-color;
    }
}

.show {
    bottom: 0 !important;
}

.bg-main {
    background-color: $main-color;
}

.bg-sec {
    background-color: $sec-color;
}

.bg-suc {
    background-color: $suc-color;
}

.bg-info {
    background-color: $info-color;
}

.text-justifyed {
    text-align: justify;
    padding: .5rem;

}

.border-start-custom {
    border-right: 3px solid $main-color;
    padding-right: 1rem;
}

button.bg-main:hover {
    background-color: darken($color: $main-color, $amount: 10);
}
button
{
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

#header {
    background-color: #000000c0;
    height: 90vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    font-size: .8rem;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url("../images/p1.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .fixed-top-header-section {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        .dark {
            background-color: $dark-color;
        }

        .darker {
            background-color: $darker-color;

            i {
                font-size: 2rem;
            }
        }



    }

    .fixed-bottom-header-section {
        z-index: 10;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $darker-color;

        #small_screen_nav_toggler {
            cursor: pointer;
        }

        li {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: -10px;
                width: 0;
                height: 2px;
                background-color: $main-color;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -webkit-transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -moz-transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -ms-transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
                -o-transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }




            &:hover::before {
                width: 100%;
            }

            #navbar_brand {
                img {
                    cursor: pointer;
                }
            }

        }

    }

    #small_screen_navbar {
        height: 230px;
        right: 0;
        left: 0;
        bottom: -230px;
        background-color: $dark-color;
        transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -webkit-transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -moz-transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -ms-transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -o-transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    #animated_text {
        h1 {
            position: absolute;
            top: 33%;
            color: $main-color;
        }

        height: 100%;

    }
}

#what_we_do_section {
    overflow-x: hidden !important;

    .work-card::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        top: 0;
        left: 0;
        background-color: white;
    }
}

#our_services_section {
    position: relative;
    background-color: rgba(0, 0, 0, 0.671);
    margin: 3rem 0;
    padding: 2rem 1rem;
    overflow-x: hidden !important;

    &::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/coverservice.png");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #myTab {
        background-color: #fd9800;
    }

    .nav-item {
        width: 20% !important;
    }

    .nav-link {
        width: 100% !important;
        color: $light-color !important;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .nav-link.active {
        background-color: $sec-color !important;


    }

    .tab-content {
        background-color: $sec-color;
    }
}

#about_us_section {
    .team-member {
        position: relative;
        overflow: hidden;

        img {
            transition: all 700ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -webkit-transition: all 700ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -moz-transition: all 700ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -ms-transition: all 700ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -o-transition: all 700ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }

        .overlay-info {
            position: absolute;
            left: 0;
            right: 0;
            height: 100%;
            bottom: -100%;
            transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -webkit-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -moz-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -ms-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -o-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            background-color: #f7a100bb;
        }

        &:hover {
            img {
                transform: scale(1.1, 1.1);
                -webkit-transform: scale(1.1, 1.1);
                -moz-transform: scale(1.1, 1.1);
                -ms-transform: scale(1.1, 1.1);
                -o-transform: scale(1.1, 1.1);
            }

            .overlay-info {
                bottom: 0;
            }
        }
    }
}

#posts_section{
    position: relative;
    background-color: hsla(0, 0%, 0%, 0.849);
    &::before{
        content: "";
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("../images/article.png") ;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
      
    }
   

    .post {
        position: relative;

        .post-overlay {
            position: absolute !important;
            width: 10%;
            height: 10%;
            opacity: 0;
            top: 20%;
            right: 20%;
            background-color: $main-color;

            transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -webkit-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -moz-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -ms-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -o-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            a
            {
                color:$dark-color;
                transition: all 200ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
                -webkit-transition: all 200ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
                -moz-transition: all 200ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
                -ms-transition: all 200ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
                -o-transition: all 200ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
            }
            a:hover
            {
                color: #e66a17e3 !important;
            }

        }

        &:hover .post-overlay {
            width: 60%;
            height: 60%;
            opacity: 1;
        }

        &::after {
            content: "";
            position: absolute;
            height: 10px;
            width: 40%;
            top: -3%;
            right: -3%;
            background-color: $main-color;
            transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -webkit-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -moz-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -ms-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -o-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

        }

        &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 40%;
            top: -3%;
            right: -3%;
            background-color: $main-color;
            transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -webkit-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -moz-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -ms-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
            -o-transition: all 350ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }

        &:hover::before {
            width: 12px;
            height: 50%;
        }

        &:hover::after {
            width: 50%;
            height: 12px;
        }

    }

}
#footer
{
    position: relative;
    &::before
    {
        content: "";
        position:absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("../images/footer.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: top;
        z-index: -1;
    }
    background-color: hsla(0, 0%, 0%, 0.699);
    #footer_description
    {
        h3{
            color: $main-color;
        }
        color: $light-color;
    }
    #animated_border
            {
                height: 1px;
                background-color: $main-color;
                width: 60%;
                margin: auto auto;
                animation-name: wwh;
                animation-duration: 2000ms;
                animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
                animation-iteration-count: infinite;
                animation-direction: reverse;
                animation-fill-mode: both;
                
}

}
@keyframes wwh {
    0%{
        width: 50%;
    }
    50%{
        width: 80%;
    }
    100%
    {
        width: 50%;
    }
}